h1,
h2,
h3,
h4,
h5,
h6 {
    color: $navy;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
}

h2 span{
  color: $red-light;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: ($base-font-size / ($i + .4));
  }
}

p {
  color: $navy-light;
  font-family: 'Roboto Slab', 'Times New Roman', serif;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 25px;
}

// Wrapper that treats image + 'GE Aviation' from line-breaking separately
p span.work-work-work {
  display: inline-block;
}